:root {
    --letras: rgb(58, 58, 58);
}

.header {
    width: 100%;
    position: fixed;
    z-index: 1000;
    height: auto;
}

.header .columns {
    height: auto;
    background-color: #0364527e !important;
}

.header .column {
    height: auto !important;
}

.header a {
    color: white;
    text-transform: uppercase;
}

.header .logo {
    height: 42px;
    width: auto;
    padding: 0px;
}

.sombra {
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.22);
    width: 100%;
    height: 100%;
    transform: translateZ(30px) scale(0.940) !important;
}

/*to erase->*/

h1 {
    color: var(--letras);
    font-size: 40px;
}

.inicio {
    width: 100%;
    height: 80vh;
    background-image: url(../img/wallpaper-min.jpg);
    background-position-y: 0px;
    color: rgb(233, 233, 233) !important;
}

.global {
    background-color: #ffffff;
}

/**/

.caja {
    background-color: rgb(255, 255, 255);
    border: 2px solid;
    border-radius: 10px;
    padding: 2px !important;
}

.sec-form {
    padding: 0px 4vw 0px 4vw;
}

.img-perfil {
    width: 100% !important;
    height: 200px !important;
    margin-top: -200px;
    background-image: url(../img/curva-640w.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
}

.img-perfil img {
    width: 200px !important;
    height: 200px !important;
    margin-left: 100px;
    border-radius: 50%;
    border: 3px solid white;
}