.scrol {}

.scrol::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scrol::-webkit-scrollbar:vertical {
    width: 4px;
}

.scrol::-webkit-scrollbar-button:increment, .contenedor::-webkit-scrollbar-button {
    display: none;
}

.scrol::-webkit-scrollbar:horizontal {
    height: 5px;
}

.scrol::-webkit-scrollbar-thumb {
    background-color: #b9e8ee;
    border-radius: 20px;
}

.scrol::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff4b;
    border: 5px solid #ffffff52;
}

.scrol::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: black;
}

/*SCROLL FIN*/